
# BEGIN WordPress
# دستورالعمل‌های (خطوط) بین "BEGIN WordPress" و "END WordPress"
# به طور پویا تولید شده‌اند، و فقط باید به وسیلهٔ صافی‌های وردرپرس ویرایش شوند.
# هر تغییری در دستورالعمل‌های بین این نشان‌گرها بازنویشی خواهند شد.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /mehrteen/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /mehrteen/index.php [L]
</IfModule>

# END WordPress
# BEGIN Simply Static
# دستورالعمل‌های (خطوط) بین "BEGIN Simply Static" و "END Simply Static"
# به طور پویا تولید شده‌اند، و فقط باید به وسیلهٔ صافی‌های وردرپرس ویرایش شوند.
# هر تغییری در دستورالعمل‌های بین این نشان‌گرها بازنویشی خواهند شد.
<Files "C:\xampp\htdocs\mehrteen/wp-content/uploads\simply-static\fc5a36c44ebd6f3dedd8beb6adfbd440-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static